{% extends "base.twig" %}
{% block content %}
{% if billboards %}
<div class="portfolio-topperMod">
		{% for billboard in billboards %}

			<a class="portfolio-promo portfolio-promo-top" href="{{billboard.permalink}}" style="background-image: url({{billboard.billboard.src|default(billboard.billboard.src)}})">
				<div class="portfolio-promo-img">
				</div> <!-- /portfolio-promo-img -->
				<div class="portfolio-promo-hgroup">
					{% if billboard.kicker %}
						<h3 class="h4 portfolio-promo-kicker">{{billboard.kicker}}</h3>
						<i class="portfolio-promo-detail" style="color:{{billboard.project_spot_color}};"></i>
					{% endif %}
					<h2 class="h1 portfolio-promo-h">{{ billboard.title }}</h2>
					{# <p class="txt">{{ billboard.billboard_message }}</p> #}
				</div>
			</a> <!-- /portfolio-promo -->
			<div class="content-wrapper">
				<div class="wrapper">
					<div class="article-txt portfolio-promo-deck-p">
						<p>We’re excited to announce that our friends at The Hechinger Report recently launched a bright new website and brand identity — both designed by Upstatement.</p>
					</div>
				</div>
			</div>
		{% endfor %}

	</div><!-- wrapper -->
</div><!-- inset -->
{% endif %}


<div class="wrapper">
	<section id="archive-tiles">
		{% for tile in tiles %}
			{% if tile.thumbnail.src %}
				{% include 'mods/tile.twig' %}
			{% endif %}
		{% endfor %}
	</section>
</div>

<section id="archive-clients" class="inset">
	<div class="wrapper">
		<h2 class="section-h">Clients</h2>
		<ul class="archive-clients-list">
			{% for client in clients %}
				<li>
				{% if client.path %}
					<a href="{{client.path}}">{{client.client_name}}</a>
				{% else %}
					<span>{{client.client_name}}</span>
				{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
