{% extends "base.twig" %}

{% block head %}
	<link rel="stylesheet" href="{{theme.path}}/css/custom/special-pages/careers.css">

	<script type="text/javascript">
	!function(a){"use strict";a.picturefill=function(){for(var b=a.document.getElementsByTagName("span"),c=0,d=b.length;d>c;c++)if(null!==b[c].getAttribute("data-picture")){for(var e=b[c].getElementsByTagName("span"),f=[],g=0,h=e.length;h>g;g++){var i=e[g].getAttribute("data-media");(!i||a.matchMedia&&a.matchMedia(i).matches)&&f.push(e[g])}var j=b[c].getElementsByTagName("img")[0];if(f.length){var k=f.pop();if(j&&"NOSCRIPT"!==j.parentNode.nodeName){if(k===j.parentNode)continue}else j=a.document.createElement("img"),j.alt=b[c].getAttribute("data-alt");j.src=k.getAttribute("data-src"),k.appendChild(j),j.removeAttribute("width"),j.removeAttribute("height")}else j&&j.parentNode.removeChild(j)}},a.addEventListener?(a.addEventListener("resize",a.picturefill,!1),a.addEventListener("DOMContentLoaded",function(){a.picturefill(),a.removeEventListener("load",a.picturefill,!1)},!1),a.addEventListener("load",a.picturefill,!1)):a.attachEvent&&a.attachEvent("onload",a.picturefill)}(this);
	</script>

{% endblock %}



{% block content %}

	<!-- Jobs Cover Image -->
	<div class="page-banner {{post.page_header_image ? 'page-banner-lg'}}">
		<span data-picture data-alt="">
		    <span data-src="{{ TimberImage(post.page_header_image).src | resize(600, 323) | default('/wp-content/themes/blades/images/careers/careers_bg_sm.jpg') }}"></span>
		    <span data-src="{{ TimberImage(post.page_header_image).src | resize(1100, 375) | default('/wp-content/themes/blades/images/careers/careers_bg_med.jpg') }}"     data-media="(min-width: 600px)"></span>
		    <span data-src="{{ TimberImage(post.page_header_image).src | resize(1954, 545) | default('/wp-content/themes/blades/images/careers/careers_bg_lg.jpg') }}"      data-media="(min-width: 1100px)"></span>

		    <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
		    <noscript>
		        <img class="page-banner-img" src="{{ TimberImage(post.page_header_image).src | resize(600, 303) | default('/wp-content/themes/blades/images/careers/careers_bg_sm.jpg') }}" alt="">
		    </noscript>
		</span> <!-- /data-picture -->
		<div class="page-banner-content">
			<h2 class="h2 h-centered header-h"><a href="/careers">Careers <span class="header-h-break">at Upstatement</span></a></h2>
		</div> <!-- /page-banner-content -->
	</div><!-- page-banner -->




	<!-- Posting description -->
	{% block career_description %}
		<div class="career-mod career-desc">
			<div class="site-width">
				<div class="pull-up pull-up-border">
					<div class="pull-up-inner">
						<div class="career-desc-head">
							<!-- <h4 class="h4 h-centered career-sub-h"><a href="/careers" class="career-sub-h-link">Careers at Upstatement</a></h4> -->
							<h2 class="h2 h-centered">{{post.title}}</h2>
						</div> <!-- /career-desc-head -->

						<div class="txt-width">
							<div class="txt-lg careers-txt">
								{{post.content}}
							</div> <!-- /txt-lg -->
						</div> <!-- txt-width -->
					</div> <!-- /pull-up-inner -->
				</div> <!-- /pull-up -->
			</div> <!-- /site-width -->
		</div> <!-- /career-desc -->
	{% endblock %} {# career_description #}




	<!-- Quote -->
	{% block career_quote %}
		{% if post.single_quote %}
			<div class="career-quote career-quote-single">
				<div class="site-width">
					<h3 class="h2 career-quote-h">&lsquo;{{post.get_field('single_quote')[0].quote }}&rsquo;<span class="career-quote-attr">&mdash;&nbsp;{{post.get_field('single_quote')[0].quote_attribution}}</span></h2>
				</div> <!-- site-width -->
			</div> <!-- /career-quote -->
		{% endif %}
	{% endblock %} {# career_quote #}




	<!-- Alumni block -->
	{% block career_alumni %}
		{% if post.vignettes %}
			<div class="career-mod career-alumni">
				<div class="site-width">
					<div class="career-desc-head">
						<h4 class="h4 h-centered career-sub-h">{{ post.vignettes_header }}</h4>
						<h2 class="h2 h-centered">{{ post.vignettes_title }}</h2>
					</div> <!-- /career-desc-head -->

					<div class="l-grid-3">
						{% for vignette in post.get_field('vignettes') %}
							<article class="media-block grid-item">
								<div class="alumni-img-block">
									<img src="http://placekitten.com/250/250" alt="">
								</div> <!-- /grid-img-block -->
								<div class="grid-content-block">
									<h4 class="grid-h">{{ vignette.vignette_name }}</h4>
									<div class="grid-txt">{{ vignette.vignette_description }}</div>
								</div> <!-- grid-content-block -->
							</article> <!-- /media-block -->
						{% endfor %}
					</div> <!-- /l-grid-3 -->
				</div> <!-- /site-width -->
			</div> <!-- /career-alumni -->
		{% endif %}
	{% endblock %} {# career_alumni #}



	<!-- Apply form -->
	{% block career_form %}
		{% if post.application_form %}
			<div class="career-mod career-apply">
				<div class="site-width">
					<div class="pull-up">
						<div class="pull-up-inner">
								<div class="career-desc-head">
									<h2 class="h2 h-centered">Are you ready to Apply?</h2>
								</div> <!-- /career-desc-head -->

								<div class="career-form">
									{{ post.application_form }}
								</div> <!-- career-form -->

						</div> <!-- /pull-up-inner -->
					</div> <!-- /pull-up -->
				</div> <!-- /site-width -->
			</div>  <!-- career-apply -->
		{% endif %}
	{% endblock %} {# career_form #}



	<!-- Career photos bottom -->
	{% block career_photos_bottom %}
		{% if post.single_photo_bottom %}
		<!-- Career photos bottom -->
			<div class="career-mod career-photos">
				<!-- <img src="/wp-content/themes/blades/images/careers/careers_test_2.jpg" /> -->
				{% for photo in post.get_field('single_photo_bottom') %}
					<span data-picture data-alt="">
				        <span data-src="{{ TimberImage(photo.bottom_photo_small).src | resize(600,303) }}"></span>
				        <span data-src="{{ TimberImage(photo.bottom_photo_large).src | resize(1100, 660) }}"     data-media="(min-width: 600px)"></span>
				        <span data-src="{{ TimberImage(photo.bottom_photo_large).src | resize(2000, 1200) }}"      data-media="(min-width: 1100px)"></span>

				        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				        <noscript>
				            <img src="{{ TimberImage(photo.bottom_photo_large).src | resize(1100, 660) }}" alt="">
				        </noscript>
				    </span>
			    {% endfor %}
			</div> <!-- /career-mod -->
		{% endif %}
	{% endblock %} {# career_photos_bottom #}



{% endblock %} {# /content #}



