{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{theme.path}}/css/custom/special-pages/drinks.css">
{% endblock %}
{% block content %}
<div class="blog-banner-container drinks-banner" id="snow-height">
		<img class="blog-banner-image drinks-buildings" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/buildings-bg.png">
		<img class="blog-banner-image drinks-sign-neon fadein" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/drinks-sign-neon-2.png">
		<img class="blog-banner-image drinks-sign" alt="decorative image of an iconic building in Boston" src="/wp-content/themes/blades/images/drink/drinks-sign-2.png">
	</div><!-- /banner-img-mod -->
</div> <!-- /blog-banner-container -->


<div class="inset">
	<div class="wrapper">
		{% if post.kicker %}
			<h3 class="h4 portfolio-promo-kicker drinks-kicker">{{post.kicker}}</h3>
		{% endif %}
		<h1 class="h1 cover-msg">{{post.main_info}}</h1>
	</div> <!-- /wrapper -->
</div>

<div class="wrapper">
	<div class="grid-container-3">
		{% for box in post.get_field('info_boxes') %}
		<article class="media-block">
			<h4 class="h3">{{box.subhead}}</h4>
			<div class="txt">
				{{box.description|wpautop}}
			</div>
		</article>
		{% endfor %}
	</div> <!-- /about-people-grid -->

	{% if post.facebook_link %}
		<a class="rsvp-btn center"href="{{post.facebook_link}}" target="_blank">RSVP on Facebook</a>
	{% endif %}

</div> <!-- /wrapper -->


<!-- Snow Script: Not in use, but keeping it around for next winter-->
<!-- <script type="text/javascript" src="/wp-content/themes/blades/js/custom/drinks.js"></script> -->

{% endblock %}


