<div class="full-width">
  <div id="editor-module">
    <div id="controls">
      <div class="control-section" id="layout">
        <div class="section-label">
          <h1 class="section-label-h">Layout</h1>
        </div>
        <img id="layout-1" src="{{theme.path}}/images/portfolio/rh-bookmark/layout-1.svg" />
        <img id="layout-2" src="{{theme.path}}/images/portfolio/rh-bookmark/layout-2.svg" />
        <img id="layout-3" src="{{theme.path}}/images/portfolio/rh-bookmark/layout-3.svg" />
      </div>
      <div class="control-section" id="type">
        <div class="section-label">
          <h1 class="section-label-h">Type</h1>
        </div>
        <div class="control-item type-sample is-selected">
          <img class="type-img" src="{{theme.path}}/images/portfolio/rh-bookmark/type-theme-1.svg" />
        </div>
        <div class="control-item type-sample">
          <img class="type-img" src="{{theme.path}}/images/portfolio/rh-bookmark/type-theme-2.svg" />
        </div>
        <div class="control-item type-sample">
          <img class="type-img" src="{{theme.path}}/images/portfolio/rh-bookmark/type-theme-3.svg" />
        </div>

{#         <div class="control-item type-sample theme-1">
          <h2 class="theme-number">Theme One</h2>
          <p class="lorem-ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div> #}
{#         <div class="control-item type-sample theme-2">
          <h2 class="theme-number">Theme Two</h2>
          <p class="lorem-ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div> #}
{#         <div class="control-item type-sample theme-3">
          <h2 class="theme-number">Theme Three</h2>
          <p class="lorem-ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div> #}
      </div>
      <div class="control-section" id="color">
        <div class="section-label">
          <h1 class="section-label-h">Color</h1>
        </div>
        <div class="control-item color-sample palette-1">
          <div class="block-1"></div>
          <div class="block-2"></div>
          <div class="block-3"></div>
          <div class="block-4"></div>
        </div>
        <div class="control-item is-selected color-sample palette-2">
          <div class="block-1"></div>
          <div class="block-2"></div>
          <div class="block-3"></div>
          <div class="block-4"></div>
        </div>
        <div class="control-item color-sample palette-3">
          <div class="block-1"></div>
          <div class="block-2"></div>
          <div class="block-3"></div>
          <div class="block-4"></div>
        </div>
      </div>
    </div>

    <div id="site-result">
{#       <img id="site-mockup" src="{{theme.path}}/images/portfolio/rh-bookmark/site-mockup-1.png" /> #}
      <div id="result-nav">
        <p id="author-name">Taylor Stevens</p>
        <p class="result-nav-link">About</p>
        <p class="result-nav-link">Books</p>
        <p class="result-nav-link">blog</p>
      </div>
      <div id="result-page-top" class="layout-3 color-3">
        <div id="result-blurb-block" class="layout-3 color-3">
          <h1 class="result-book-title">The Informationist</h1>
          <p class="result-blurb-txt">A gripping, suspenseful novel about kidnapping and cults. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non tortor quam. Mauris ut porttitor nulla. Duis id pretium metus, a tristique eros. Integer facilisis lorem vel elementum pellentesque. Nullam volutpat est ipsum, vel aliquet est sollicitudin vel.</p>
          <p class="result-blurb-txt">"The best thriller of the year." — San Francisco Bay Guardian</p>
          <button id="result-buy-btn" class="color-3">Buy</button>
        </div>
      </div>
      <div id="result-page-bottom" class="layout-3 color-3">
        <div id="result-praise">
          <h1 class="result-h color-3">Praise For The Informationist</h1>
          <p class="result-txt">“Impressive....The gripping plot runs on adrenaline as much as does Vanessa, who unleashes her violent tendencies when the powerless are threatened....Vanessa makes for an intriguing heroine-at once tough, fearless, vulnerable, and compassionate."</p>
          <p class="result-quote">— Publishers Weekly (starred review)</p>
        </div>
        <div id="result-blog">
          <h1 class="result-h color-3">Blog</h1>
          <h2 class="result-sub-h">This Is A Blog Post</h2>
          <p class="result-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non tortor quam. Mauris ut porttitor nulla. Duis id pretium metus, a tristique eros. Integer facilisis lorem vel elementum pellentesque. Nullam volutpat est ipsum, vel aliquet est sollicitudin vel. Aenean quis mauris ipsum. Ut quis ligula purus. Maecenas laoreet nibh ligula, ac convallis justo efficitur sed.</p>
          <h2 class="result-sub-h">This Is A Blog Post</h2>
          <p class="result-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non tortor quam. Mauris ut porttitor nulla. Duis id pretium metus, a tristique eros. Integer facilisis lorem vel elementum pellentesque. Nullam volutpat est ipsum, vel aliquet est sollicitudin vel. Aenean quis mauris ipsum. Ut quis ligula purus. Maecenas laoreet nibh ligula, ac convallis justo efficitur sed.</p>
        </div>
      </div>
    </div>
  </div>
</div>