<div class="site-width" id="api-module">
	<div id="api-cloud">
		<img id="api-knot" src="{{theme.path}}/images/portfolio/rh-bookmark/api-knot.png" />
		<img id="constellation" src="{{theme.path}}/images/portfolio/rh-bookmark/constellation.png" />
	</div>
	<div id="api-labels">
		<img class="api-label" id="label-retailers" src="{{theme.path}}/images/portfolio/rh-bookmark/label-retailers.svg" />
		<img class="api-label" id="label-reviews" src="{{theme.path}}/images/portfolio/rh-bookmark/label-reviews.svg" />
		<img class="api-label" id="label-isbn" src="{{theme.path}}/images/portfolio/rh-bookmark/label-isbn.svg" />
		<img class="api-label" id="label-bisac" src="{{theme.path}}/images/portfolio/rh-bookmark/label-bisac.svg" />
		<img class="api-label" id="label-synopsis" src="{{theme.path}}/images/portfolio/rh-bookmark/label-synopsis.svg" />
		<img class="api-label" id="label-book-title" src="{{theme.path}}/images/portfolio/rh-bookmark/label-book-title.svg" />
		<img class="api-label" id="label-book-cover-photo" src="{{theme.path}}/images/portfolio/rh-bookmark/label-book-cover-photo.svg" />
		<img class="api-label" id="label-author-name" src="{{theme.path}}/images/portfolio/rh-bookmark/label-author-name.svg" />
		<img class="api-label" id="label-author-bio" src="{{theme.path}}/images/portfolio/rh-bookmark/label-author-bio.svg" />
		<img class="api-label" id="label-author-photo" src="{{theme.path}}/images/portfolio/rh-bookmark/label-author-photo.svg" />
		<img class="api-label" id="label-events-calendar" src="{{theme.path}}/images/portfolio/rh-bookmark/label-events-calendar.svg" />
		<img class="api-label" id="label-blog-posts" src="{{theme.path}}/images/portfolio/rh-bookmark/label-blog-posts.svg" />
	</div>
	<div id="book-lines"></div>
	<img id="page-lines" src="{{theme.path}}/images/portfolio/rh-bookmark/page-lines.png" />
	<div class="txt-lg portfolio-desc-txt thr__text thr__text--white" id="api-p-one">
		<p>By entering their author number, a user can pull relevant data from the Random House API, automatically populating their new website with their own content.</p>
	</div>
	<div id="page-boxes">
		<div class="page-box">Books</div>
		<div class="page-box">About</div>
		<div class="page-box">Press</div>
		<div class="page-box">Events</div>
	</div>
	<div id="book-boxes">
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
		<div class="book-box">Book</div>
	</div>
	<div id="downward-lines"></div>
	<div class="txt-lg portfolio-desc-txt thr__text thr__text--white" id="api-p-two">
		<p>The sites give authors tons of options to make it their own. They can add events to promote their book tour, blog to keep in touch with readers, post videos from their appearance on “The Today Show”, and much more. </p>
	</div>
</div>