<div class="site-width">
	<div class="portfolio-desc portfolio__txt-width">
		<h1 class="portfolio__h2">Need Awesome Title</h1>
	</div>
	<h2 class="portfolio__sub-h">How we helped a new editorial channel define its presence online and were able to launch in time to cover a tragedy.</h2>
	<div class="portfolio-desc portfolio__txt-width">
		<div class="txt-lg portfolio-desc-txt portfolio-text">
			<p><span class="dropcap">T</span>he folks over at Everytown for Gun Safety are launching a new site, and they trusted Upstatement with its branding, design and build.</p>
			<p>The goal of the new property is to create an entity that can be a neutral voice providing details on the state of guns and gun violence in the U.S. Combating the scarcity of knowledge on the subject through journalism. The site needed to portray the core values of the organization being accuracy, fairness, empathy, and doggedness.</p>
		</div>
	</div>
	<div class="portfolio-desc portfolio__txt-width">
		<h4 class="portfolio__topic-h portfolio__topic-h--no-bdr">In This Case Study</h4>
		<nav class="portfolio__scroll-nav">
			<ol class="portfolio__count-items portfolio__nav-items">
				<li class="portfolio__count-list portfolio__nav-item"><a class="portfolio__nav-link" href="#trace__part-one"><span class="portfolio__txt-mod trace__txt-mod--blue">Site Design</span> Making a brand statement on the homepage</a></li>
				<li class="portfolio__count-list portfolio__nav-item"><a class="portfolio__nav-link" href="#trace__part-two"><span class="portfolio__txt-mod trace__txt-mod--blue">Branding</span> Finding inspiration in an unlikely place</a></li>
				<li class="portfolio__count-list portfolio__nav-item"><a class="portfolio__nav-link" href="#trace__part-three"><span class="portfolio__txt-mod trace__txt-mod--blue">Smart Stream</span> Making complex pages easy to manage</a></li>
				<li class="portfolio__count-list portfolio__nav-item"><a class="portfolio__nav-link" href="#trace__part-four"><span class="portfolio__txt-mod trace__txt-mod--blue">Results</span> What happened to traffic &amp; name recognition?</a></li>
			</ol>
		</nav> <!-- /.portfolio__scroll-nav -->
	</div> 
</div>

<div class="full-width trace-responsive-screens">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-responsive-intro.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-responsive-intro.jpg'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="portfolio__img portfolio__img--pad" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-responsive-intro.jpg'| resize(600)}}">
	</picture>
</div> <!-- /.trace-responsive-screens -->

<div class="site-width portfolio__pad--bottom-md portfolio__js--scroll-item">
	<div id="trace__part-one" class="badge-a">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">1</h1>
				</div>
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<h1 class="portfolio__h1">The Brand</h1>
	<h2 class="portfolio__sub-h">At once approachable, determined, and unbiased.</h2>
	<div class="portfolio-desc portfolio__txt-width">
		<div class="txt-lg portfolio-desc-txt portfolio-text">
			<p>We started out with some meetings in New York at Bloomberg’s headquarters. James Burnett, previously at The New Republic, talked us through his vision for the site, similar sites and organizations doing admirable work along the same vein. Our discussions were the basis for a series of briefs that describe the brand of the Trace, and how the brand supports the mission and what James and his team were trying to build.</p>
		</div>
	</div>
</div>

<div class="full-width trace-brand-sketches">
	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-brand-sketches.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-brand-sketches.jpg'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="portfolio__img portfolio__img--pad" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-brand-sketches.jpg'| resize(600)}}">
	</picture>
</div> <!-- /.trace-responsive-screens -->

<div class="site-width trace-brand-sketches-desc">
	<h2 class="portfolio__h3">A lot of sketching</h2>
	<div class="portfolio-desc portfolio__txt-width">
		<div class="txt-lg portfolio-desc-txt portfolio-text">
			<p>We tried many metaphors and different ideas before settling on the X-Ray concept. With a lot of rapid sketching, talking and editing we were able to rip through many ideas and weigh their pros and cons. By the end we had a shortlist of design and brand ideas, and substantive thinking to support them. We took this into our design process to let the ideas percolate and see how they grew.</p>
		</div>

		<div class="trace-design-sketches">
			<div class="swiper-container trace__swiper">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--one.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--two.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--three.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--four.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--five.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--six.png"></div>
			        <div class="swiper-slide"><img class="trace__img" src="/wp-content/themes/blades/images/portfolio/trace/trace-sketch--seven.png"></div>
			    </div>
			</div>
		</div> <!-- /.trace-design-sketches -->

	</div>
</div> <!-- /.trace-brand-sketches-desc -->

<div class="full-width trace-brand-final">
	<div class="trace-brand__wrapper">
		<svg role="img" name="The Trace" class="trace-brand__logo" id="branding__logo" viewBox="30 40 735 735">
			<g>
				<g>
					<path class="trace-brand__logo-text" d="M83.5 403.1v15.4H70V509H54v-90.5H40.5v-15.4h43zM107.7 508.9H91.6V403.1h16.1v42.4h11v-42.4h16.1V509h-16.1v-46.5h-11v46.4zM181.4 403.1v15.4h-20.5v27.7H177v16.1h-16.1v30.6h21.3V509h-37.4V403.1h36.6zM132.5 531.9v32.4H104V755H70.4V564.3H41.9v-32.4h90.6zM183.5 755h-33.9V531.9h54.9c22.8 0 33.9 9.3 33.9 34.5V606c0 18.6-8.7 26.1-14.7 28.5 7.5 3.3 14.7 9 14.7 24.3V737c0 9.3 1.8 13.2 3.3 16.5v1.5h-33.6c-1.5-2.4-3.3-6.3-3.3-18.3v-67.2c0-9.9-1.8-14.1-12.6-14.1h-8.7V755zm0-131.4h9c9.3 0 12.3-6 12.3-15.9v-31.2c0-9.6-1.8-14.4-12.3-14.4h-9v61.5zM311.9 713H287l-4.2 42h-30.3l27.3-223.2H320L349.1 755h-32.7l-4.5-42zm-21.3-33.3h17.7l-9-82.5-8.7 82.5zM417.7 657.8H451v51.6c0 24-8.1 48.3-40.5 48.3H403c-34.5 0-41.7-24.6-41.7-47.1V574.4c0-22.8 9.9-44.7 40.5-44.7h7.8c37.2 0 41.4 24.6 41.4 46.5v39.9h-33.3v-39.3c0-9.6-3-14.7-11.4-14.7s-10.5 4.8-10.5 14.7v132.6c0 10.2 3.6 15.3 10.8 15.3 8.1 0 11.1-5.7 11.1-15v-51.9zM547.6 531.9v32.4h-43.2v58.5h33.9v33.9h-33.9v64.5h45V755h-78.9V531.9h77.1z"/>
				</g>
				<path  class="trace-brand__logo-box" stroke-width="20" stroke-miterlimit="10" d="M61.7 383V69.6h675.9v675.9h-168"/>
			</g>
		</svg>
	</div>
	<h4 class="portfolio__topic-h portfolio__topic-h--branding portfolio__text--white">The Final Mark</h4>
</div> <!-- /.trace-brand-final -->

<div class="full-width trace-brand-final-desc">

	<div class="site-width portfolio__pad--horiz-md">
		<h2 class="portfolio__h portfolio__h3">Looking Into a Complex Issue</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>After many iterations we landed on the X-Ray concept. The mark explores the idea of looking into the subject and providing transparency. By placing the brand over images it provides a frame to dive deeper into the meaning within. This transparency and thoroughness is at the heart of what The Trace is all about.</p>
			</div>
		</div>
	</div>
</div> <!-- /.trace-brand-final-desc -->

<div class="full-width trace-brand-book">
	<div class="trace-brand-book__image-container">
		<picture>
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-brand-guidelines.jpg" media="(min-width: 1000px)">
			<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-brand-guidelines.jpg'| resize(1000)}}" media="(min-width: 600px)">
			<!--[if IE 9]></video><![endif]-->
			<img class="portfolio__img" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-brand-guidelines.jpg'| resize(600)}}">
		</picture>
	</div>
	<div class="trace-brand-book__content">
		<h2 class="portfolio__h portfolio__h3 portfolio__text--left">All the details</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>Text goes here.</p>
			</div>
		</div>
	</div> <!-- /.trace-brand-book__content -->
</div> <!-- /.trace-brand-sketches-desc -->


<div class="full-width portfolio__pad--bottom-md portfolio__js--scroll-item portfolio__bg--light-gray trace-design-intro">
	<div id="trace__part-two" class="badge-a">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">2</h1>
				</div>	
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<div class="site-width">
		<h1 class="portfolio__h1">Site Design</h1>
		<h2 class="portfolio__sub-h">Making a brand statement on the homepage</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>We started with a few high-level concept sketches, including the shortlist of branding options to ensure cohesion between the site and brand. By virtue of our agile development approach, we started with a simple design and built up to complexity. Simple building blocks make up the homepage and article pages with each new feature folding into a solid system set out from the start.</p>
				<p>The design system came together around the content strategy we outlined together with James. Once we had a basic framework for both the homepage and article pages, we could start adding enhanced features to the design.</p>
			</div>
		</div>
		<div class="trace-design-sketes">
			<p style="color: fuchsia; text-align: center">slideshow of design in progress</p>
		</div>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>In outlining a content strategy for this new publication with James, opportunities came to light for features that would add visual interest to the design. incorporating new content types, external data, and articles from other publications help keep the homepage fresh and visually diverse.</p>
			</div>
		</div>
	</div>
</div>


<div class="full-width portfolio__bg--light-gray trace-design-list">

	<div class="trace-design-item trace-design-item--left">
		<div class="design-item__text">
			<h4 class="portfolio__text--center design-item__number">01</h4>
			<h2 class="portfolio__h4 design-item__title">Highlighting Important Stories</h2>
			<p class="portfolio-text--small design-item__desc">Featured Articles get prominence down the page along with Most Popular articles.</p>
		</div>
		<div class="design-item__image-wrapper">
			<figure class="design-item__figure">
				<img class="design-item__image" src="/wp-content/themes/blades/images/portfolio/trace/trace-design-item--one.jpg">
			</figure>
		</div>
	</div>

	<div class="trace-design-item trace-design-item--right">
		<div class="design-item__text">
			<h4 class="portfolio__text--center design-item__number">02</h4>
			<h2 class="portfolio__h4 design-item__title">Data With a Purpose</h2>
			<p class="portfolio-text--small design-item__desc">A prominent toll of gun violence from the Gun Violence Archive gives weight to the matter at hand.</p>
		</div>
		<div class="design-item__image-wrapper">
			<figure class="design-item__figure">
				<img class="design-item__image" src="/wp-content/themes/blades/images/portfolio/trace/trace-design-item--two.jpg">
			</figure>
		</div>
	</div>

	<div class="trace-design-item trace-design-item--left">
		<div class="design-item__text">
			<h4 class="portfolio__text--center design-item__number">03</h4>
			<h2 class="portfolio__h4 design-item__title">Focus on Current Events</h2>
			<p class="portfolio-text--small design-item__desc">By curating relevant articles from other sources, visitors get a chance to see a broader picture.</p>
		</div>
		<div class="design-item__image-wrapper">
			<figure class="design-item__figure">
				<img class="design-item__image" src="/wp-content/themes/blades/images/portfolio/trace/trace-design-item--three.jpg">
			</figure>
		</div>
	</div>

	<div class="trace-design-item trace-design-item--right">
		<div class="design-item__text">
			<h4 class="portfolio__text--center design-item__number">04</h4>
			<h2 class="portfolio__h4 design-item__title">Relevant Content at Every Turn</h2>
			<p class="portfolio-text--small design-item__desc">Having the ability to select key topics and relevant articles from each, provides users an opportunity to explore content.</p>
		</div>
		<div class="design-item__image-wrapper">
			<figure class="design-item__figure">
				<img class="design-item__image" src="/wp-content/themes/blades/images/portfolio/trace/trace-design-item--four.jpg">
			</figure>
		</div>
	</div>

	<div class="trace-design-item trace-design-item--left">
		<div class="design-item__text">
			<h4 class="portfolio__text--center design-item__number">05</h4>
			<h2 class="portfolio__h4 design-item__title">See It All</h2>
			<p class="portfolio-text--small design-item__desc">Instead of a traditional navigation, users can browse all topics in a overlay menu from anywhere on the site.</p>
		</div>
		<div class="design-item__image-wrapper">
			<figure class="design-item__figure">
				<img class="design-item__image" src="/wp-content/themes/blades/images/portfolio/trace/trace-design-item--five.jpg">
			</figure>
		</div>
	</div>

</div>

<div class="full-width trace-design-management-intro portfolio__bg--navy">

	<div class="site-width">
		<h4 class="portfolio__topic-h portfolio__text--white">Site features & Management</h4>
		<h2 class="portfolio__h portfolio__h3 portfolio__text--white">Highlighting & Organizing</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text portfolio__text--white">
				<p>Each feature was designed so that it was not only visually interesting, but also easy to maintain. From arranging stories on the homepage to selecting topics to highlight to keeping key articles prominent, the design moved forward keeping an eye on development. In the end, the design and development came together to bring the content strategy to life.</p>
			</div>
		</div>

		<div class="portfolio__divider portfolio__divider--white">
			<div class="portfolio__scale-svg-container portfolio__svg-pad--badge-icon">
				<div class="portfolio__scale-svg">
					<svg class="portfolio__icon--badge portfolio__icon--badge--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"/></svg>
				</div>
			</div>
		</div>
	</div>

</div> <!-- /.trace-design-management-intro -->

<div class="full-width trace-design-management-image">

	<picture class="trace-tease-options">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-tease-options.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-tease-options.jpg'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="portfolio__img" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-tease-options.jpg'| resize(600)}}">
	</picture>
</div> <!-- /.trace-design-management-image -->

<div class="full-width trace-design-management-example portfolio__bg--navy">

	<div class="site-width">

		<p style="color: fuchsia; text-align: center">Post tease options movie</p>

	</div>
</div> <!-- /.trace-design-management-example -->

<div class="full-width trace-typography">

	<picture class="trace-typography-image">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-typography.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-typography.jpg'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="portfolio__img" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-typography.jpg'| resize(600)}}">
	</picture>

	<div class="site-width trace-typography-info">
		<div class="portfolio-hgroup">
			<h4 class="portfolio__topic-h">Typography</h4>
			<h2 class="portfolio__h portfolio__h3">Choosing the Right Face</h2>
		</div>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>An authoritative but neutral sans-serif, enough to allow the meaning to take presidence over the style. Aktiv Grotesk was the perfect choice for healines.</p>
				<p>We wanted to pair with a serif that works well for longer reading but still held the same tone as Aktiv. Meta Serif offers a solid, clean and modern feel which is an excllent fit for the brand.</p>
				<p>To add some contrast and emphasis to the more traditional type decisions, Geogrotesque Condensed was added as a counterpoint. Used to highlight content such as facts, figures, and topics, the face  provides interest to the varying types of content present on the site.</p>
			</div>
		</div>
	</div>
</div> <!-- /.trace-design-management-example -->

<div class="full-width portfolio__js--scroll-item">

	<div id="trace__part-three">

		<div class="badge-a badge-a--overlap">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content badge-a__content--no-bdr">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">3</h1>
				</div>
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
		</div>

		<div class="portfolio__bg--light-gray portfolio__pad--bite-in">
			<div class="site-width">
					<h1 class="portfolio__h1">Development</h1>
				<h2 class="portfolio__sub-h">Building in an Agile Way</h2>
				<div class="portfolio-desc portfolio__txt-width">
					<div class="txt-lg portfolio-desc-txt portfolio-text">
						<p>The Trace was built using WordPress with <a href="#">Timber</a> as its base. Using an Agile methodology, we first built the site as barebones as possible. The homepage listed articles that could be clicked on to read the article, with a link back to the homepage. From there we added features one at a time, so that at any point, the site was stable and ready to launch. </p>
					</div>
				</div>
			</div>

			<div class="portfolio__divider">
				<div class="portfolio__scale-svg-container portfolio__svg-pad--badge-icon">
					<div class="portfolio__scale-svg">
						<svg class="portfolio__icon--badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"/></svg>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="full-width trace-development-components">

	<div class="site-width">
		<h2 class="portfolio__h portfolio__h3 trace-component__h">Taking One Component at a Time</h2>

		<p style="color: fuchsia; text-align: center">component build here</p>

	</div>
</div> <!-- /.trace-design-management-example -->

<div class="full-width trace-management-build portfolio__bg--navy">

	<div class="site-width">
		<h2 class="portfolio__h portfolio__h3 portfolio__text--white">Managing the Build</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text portfolio__text--white">
				<p>Feature enhancements and prioritization were managed using <a href="#">Trello</a> and <a href="#">Github</a>. James was able to add and prioritize the items in Trello while the dev team used Github to itemize the tasks to divide and conquer.</p>
			</div>
		</div>

		<picture class="trace-workflow">
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-workflow.jpg" media="(min-width: 1000px)">
			<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-workflow.jpg'| resize(1000)}}" media="(min-width: 600px)">
			<!--[if IE 9]></video><![endif]-->
			<img class="portfolio__img" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-workflow.jpg'| resize(600)}}">
		</picture>

	</div>

</div> <!-- /.trace-management-build -->

<div class="full-width trace-launch">

	<div class="site-width">
		<h2 class="portfolio__h portfolio__h3">A Timely Launch</h2>
		<div class="portfolio-desc portfolio__txt-width">
			<div class="txt-lg portfolio-desc-txt portfolio-text">
				<p>The development process continued until, fortunately/ unfortunately, there was a sudden need to launch. With the agile process, the site was ready to go live in no time. After a few minor adjustments to code and content, we were able to coordinate a launch in less than 24 hours.</p>
				<p>With time left on the schedule after launch, we were able to continue adding features to the site. In a couple weeks we were able to push an update to the site that incorporated a number of new features giving the team even more flexibility in content display and management.</p>
			</div>
		</div>
	</div>

</div> <!-- /.trace-management-build -->

<div class="full-width portfolio__js--scroll-item">

	<div id="trace__part-four">

		<div class="badge-a badge-a--overlap">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content badge-a__content--no-bdr">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">4</h1>
				</div>
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
		</div>

		<div class="trace-results portfolio__bg--blue portfolio__pad--bite-in">
			<div class="site-width">
				<h1 class="portfolio__h1">Results</h1>
				<h2 class="portfolio__sub-h">Getting the Word Out</h2>
				<div class="portfolio-desc portfolio__txt-width">
					<div class="txt-lg portfolio-desc-txt portfolio-text">
						<p>The team was eager to have the site live and start sharing stories and insights on this important topic. And they were right. The response was immediate and conversations began filling social media channels. </p>
					</div>
				</div>
				<div class="portfolio-desc portfolio__txt-width">
					<div class="results__grid l-portfolio--rule">
						<div class="results__grid-item">
							<h1 class="portfolio__h1">5M</h1>
							<h2 class="portfolio__h4 portfolio__text--white">First month page views</h2>
						</div>
						<div class="results__grid-item">
							<h1 class="portfolio__h1">170x</h1>
							<h2 class="portfolio__h4 portfolio__text--white">Unique page <br>views</h2>
						</div>
					</div>
					<div class="results__grid">
						<div class="results__grid-item">
							<h1 class="portfolio__h1">4500+</h1>
							<h2 class="portfolio__h4 portfolio__text--white">Twitter followers</h2>
						</div>
						<div class="results__grid-item">
							<h1 class="portfolio__h1">40k+</h1>
							<h2 class="portfolio__h4 portfolio__text--white">Facebook likes</h2>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

	<picture class="trace-mobile-bottom">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/themes/blades/images/portfolio/trace/trace-mobile-bottom.png" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-mobile-bottom.png'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="portfolio__img" srcset="{{'/wp-content/themes/blades/images/portfolio/trace/trace-mobile-bottom.png'| resize(600)}}">
	</picture>

	<div class="site-width portfolio__pad--horiz-md">
	<h4 class="portfolio__topic-h portfolio__topic-h--no-bdr">What We Did</h4>
		<ol class="portfolio__count-items">
			<li class="portfolio__count-list portfolio__count-item--topic">Research</li>
			<li class="portfolio__count-list portfolio__count-item--topic">Content Strategy</li>
			<li class="portfolio__count-list portfolio__count-item--topic">Design</li>
			<li class="portfolio__count-list portfolio__count-item--topic">Front-End Dev</li>
			<li class="portfolio__count-list portfolio__count-item--topic">CMS Development</li>
			<li class="portfolio__count-list portfolio__count-item--topic">Launch</li>
		</ol>
	</div>

</div>
