<section class="thr-xray full-width">
	<div class="thr-xray-content">

		<div class="thr-xray-item" data-view-interval="2" data-mobile-view-interval="2">
			<div class="thr-popup">
			<!--  -->
				<p class="thr-popup-content">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</p>
			</div>
			<div class="thr-img-container">
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-header.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5" data-mobile-view-interval="0.9">
			<div class="thr-popup">
				<p class="thr-popup-content">Beats. Topics. Coverage areas. We found that readers didn’t understand what mattered to Hechinger and what they covered. So we made topics front-and-center.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-zone">
					<img class="thr-zone-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes.jpg">
				</div>
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes-bg.jpg">
			</div>
		</div><!-- /thr-xray-item --> 

		<div class="thr-xray-item" data-view-interval="2" data-mobile-view-interval="1">
			<div class="thr-popup">
				<p class="thr-popup-content">Numbers matter. Data underlies all the reporting. Wanted to create an entry point to the story that drew on their excellent reporting.</p>
			</div>
			<div class="thr-img-container">
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stats-top.jpg">
				<div class="thr-special-stats">
					<div class="thr-stats">0</div>
					<div class="thr-text-bd">
						<h4 class="thr-special-h">
							Rich school, poor school
						</h4>
						<p class="thr-special-link">California's multi-million dollar online education flop is another blow for MOOCs</p>
					</div>
				</div>
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stats-bottom.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5" data-mobile-view-interval="1">
			<div class="thr-popup">
				<p class="thr-popup-content">Big feature. A place for last month’s big feature to live on. Previously, these disappeared from view too quickly.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-second-feature">
					<img class="thr-second-feature-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-second-feature.png">
				</div>
				<img class="thr-img-rounded" src="{{theme.path}}/images/portfolio/hechinger/hechinger-mississippi.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5" data-mobile-view-interval="1">
			<div class="thr-popup">
			<!--  -->
				<p class="thr-popup-content">Highlighting important text to help improve scannability on a page filled with type. Creates depth of content. Several levels of reading on page.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-yellow-bar"></div>
				<img class="thr-img-section thr-zone-split-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-zone-split.png">
			</div>
		</div><!-- /thr-xray-item -->

	</div><!-- /thr-xray-content -->
</section><!-- /thr-xray -->