<section class="thr-xray full-width">
	<div class="thr-xray-content">

		<div class="thr-xray-item" data-view-interval="2">
			<div class="thr-popup">
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/mountains.svg"></div>
					<div class="thr-popup-text">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</div>
				</div>
			</div>
			<div class="thr-img-container">
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-header.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5">
			<div class="thr-popup">
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/eye.svg"></div>
					<div class="thr-popup-text">Beats. Topics. Coverage areas. We found that readers didn’t understand what mattered to Hechinger and what they covered. So we made topics front-and-center.</div>
				</div>
			</div>
			<div class="thr-img-container">
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-special-report.jpg">
			</div>
		</div><!-- /thr-xray-item --> 

		<div class="thr-xray-item" data-view-interval="2">
			<div class="thr-popup">
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/pie-chart.svg"></div>
				<div class="thr-popup-text">Numbers matter. Data underlies all the reporting. Wanted to create an entry point to the story that drew on their excellent reporting.</div>
				</div>
			</div>
			<div class="thr-img-container">
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stats-top.jpg">
				<div class="thr-special-stats">
					<div class="thr-stats">0</div>
					<div class="thr-text-bd">
						<h4 class="thr-special-h">
							Rich school, poor school
						</h4>
						<p class="thr-special-link">California's multi-million dollar online education flop is another blow for MOOCs</p>
					</div>
				</div>
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stats-bottom.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5">
			<div class="thr-popup">
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/paper-clip.svg"></div>
					<div class="thr-popup-text">Big feature. A place for last month’s big feature to live on. Previously, these disappeared from view too quickly.</div>
					</div>
			</div>
			<div class="thr-img-container">
				<img class="thr-second-feature-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-feature.jpg">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="1.5">
			<div class="thr-popup">
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/hechinger-text-cursor.svg"></div>
					<div class="thr-popup-text">Highlighting important text to help improve scannability on a page filled with type. Creates depth of content. Several levels of reading on page.</div>
					</div>
			</div>
			<div class="thr-img-container">
				<div class="thr-yellow-bar"></div>
				<img class="thr-img-section thr-zone-split-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-zone-split.png">
			</div>
		</div><!-- /thr-xray-item -->

		<div class="thr-xray-item" data-view-interval="2">
			<div class="thr-popup">
			<!--  -->
				<div class="thr-popup-content">
					<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/paper-airplane.svg"></div>
				<div class="thr-popup-text">Redesign coincided with an effort to re-invest in newsletter. This big call-to-action is at the bottom of every page on the site.</div>
				</div>
			</div>
			<div class="thr-img-container">
				<div class="thr-newsletter-box">
					<div class="thr-box-border-container">
						<div class="thr-box-border--horiz"></div>
						<div class="thr-box-border--horiz bottom"></div>
						<div class="thr-box-border--vert"></div>
						<div class="thr-box-border--vert bottom"></div>
						<img class="thr-newsletter-box-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-newsletter-box.jpg">
					</div>
				</div>
				<img class="thr-img-section" src="{{theme.path}}/images/portfolio/hechinger/hechinger-footer.jpg">
			</div>
		</div><!-- /thr-xray-item -->

	</div><!-- /thr-xray-content -->
</section><!-- /thr-xray -->