<div class="full-width thr__js--scroll-item">

	<div id="thr__part-three" class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<div class="badge-a--hidden">
				<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
			</div>
			<div class="badge-a__divider badge-a__divider--js"></div>
			<div class="badge-a--hidden">
				<h1 class="badge-a__h badge-a__h--js">3</h1>
			</div>
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<div class="thr__bg thr__bg--light-gray thr__pad--bite-in">

		<div class="site-width">
				<h1 class="thr__h thr__h--lg">Smart<br>Stream</h1>
			<h2 class="thr__sub-h">Making complex pages easy to manage</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>At Upstatement, we believe that a great reading experience starts with a great editing experience. That’s why we recently hosted a <a href="http://upstatement.com/blog/2014/10/snd-makes-at-upstatement/" target="_blank">content management hackathon</a> with teams from ESPN, The Verge, and National Geographic. And when Hechinger’s editors needed a simple solution to manage their complex homepage, we designed and built <strong>Stream Manager</strong>, a slick editor that seamlessly integrates with the WordPress backend.</p>
					<p>With Stream Manager, content management problems that used to cause headaches are accomplished in a snap. Want change a story position? It’s as easy as dragging and dropping. Add a new story? No problem, the freshest stories automatically appear in your stream &mdash; and await approval before showing up on the homepage. What about pinning stories? We’ve got that covered, too. Pin a story anywhere, from the very first to the very last slot on the page.</p>
				</div>
			</div> <!-- /portfolio-desc -->
		</div>

		{# <div class="thr__l--wide thr__pad--top-left">

				<div class="thr__special-report thr-xray-item thr-xray-item--center">

					<div class="thr__tag">
						<h4 class="thr__tag-h">Special Report Page</h4>
						<div class="thr__tag-icon">
							<div class="thr__scale-svg-container thr__svg-pad--badge-icon">
								<div class="thr__scale-svg">
									<svg class="thr__icon--badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"></path></svg>
								</div>
							</div>
						</div>
					</div>

					<div class="thr-popup">
						<div class="thr-popup-content">
							<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/mountains.svg"></div>
							<div class="thr-popup-text">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</div>
						</div>
					</div>
					<div class="thr__tablet thr__tablet--shadow">
						<div class="thr__tablet-camera"></div>
						<div class="thr__tablet-screen">
							<div class="thr__screen-pad">
								<div class="thr__screen-content">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg" media="(min-width: 1000px)">
										<source srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(1000)}}" media="(min-width: 600px)">
										<!--[if IE 9]></video><![endif]-->
										<img class="thr__img" srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(600)}}">
									</picture>
								</div>
							</div>
						</div>
						<div class="thr__tablet-home"></div>
					</div>
				</div>
			</div> #}
	</div>

	<div class="site-width thr__pad--horiz-med">
		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="-584 346 110 110"><path d="M-499.4 381.5v11.4h-20.2V372h11.9l-19.7-25.1-19.7 25.1h11.2v20.9h-22.6V382l-25.5 17.7 25.5 20.1v-10.9h22.6v21.3h-12l19.8 24.9 19.7-24.9h-11.2v-21.3h20.2v10.9l25.4-18.1"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Drag &amp; Drop Organization</h4>
			</div>
			<div class="thr__stream">
				{# <div class="thr__video-controls">
					<div class="thr__pause">
						<div class="thr__scale-svg-container thr__svg-pad--pause">
							<div class="thr__scale-svg">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.9 70.4"><path d="M0 0h19.7v70.4H0zM34.1 0h19.7v70.4H34.1z"/></svg>
							</div>
						</div>
					</div>
				</div> #}
				<div class="thr__video_stream_click_drag">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stream-cover--click-drag.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
				<div class="thr__video-progress-bar"></div>
			</div>
		</div>

		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon thr__stream-icon--pin">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="-584 346 110 110"><path d="M-524.1 398.6s16.2.2 23.1-.5c-2.4-6.9-13.3-10.4-13.3-10.4L-519 353s7.1-2.7 8.6-6c-12.4-.4-24.8-.4-37.2 0 1.5 3.3 8.4 5.9 8.4 5.9l-4.3 34.6s-11.1 3.6-13.5 10.6c6.9.6 23 .3 23 .3s2.4 37.8 5.1 56.7c0 .4 0 .1.2-.2 2.1-18.7 4.6-56.3 4.6-56.3z"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Pin Important Articles</h4>
			</div>
			<div class="thr__stream">
				<div class="thr__video_stream_pin">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
				<div class="thr__video-progress-bar"></div>
			</div>
		</div>

		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="-584 346 110 110"><path d="M-520 410.1c-5.6 5.6-13.2 8.8-21.1 8.8-8 0-15.5-3.1-21.1-8.8-5.6-5.6-8.8-13.2-8.8-21.1 0-8 3.1-15.5 8.8-21.1 5.6-5.6 13.2-8.8 21.1-8.8 8 0 15.5 3.1 21.1 8.8 5.6 5.6 8.8 13.2 8.8 21.1s-3.2 15.5-8.8 21.1m-21.2-63.1c-12.8 0-24.8 5.7-32.9 15.8-12.1 15.1-11.8 37.8.5 52.8 8 9.7 19.9 15.2 32.4 15.2 7.9 0 15.7-2.3 22.5-6.5l.7-.5 28.5 28.7c3.1 3.2 8.8 3.2 11.9 0 1.7-1.7 2.6-3.8 2.6-6.1s-.8-4.3-2.4-6l-28.6-28.5.5-.7c10.4-16.7 7.9-37.9-5.9-51.9-7.9-8-18.5-12.3-29.8-12.3"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Easily Search for a Post</h4>
			</div>
			<div class="thr__stream">
				<div class="thr__video_stream_search">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
				<div class="thr__video-progress-bar"></div>
			</div>
		</div>

	</div>

</div>
