<div class="full-width thr__js--scroll-item">

	<div id="thr__part-three" class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<div class="badge-a--hidden">
				<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
			</div>
			<div class="badge-a__divider badge-a__divider--js"></div>
			<div class="badge-a--hidden">
				<h1 class="badge-a__h badge-a__h--js">3</h1>
			</div>	
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>
	
	<div class="thr__bg thr__bg--light-gray thr__pad--bite-in">
		
		<div class="site-width">
				<h1 class="thr__h thr__h--lg">Smart<br>Stream</h1>
			<h2 class="thr__sub-h">Making complex pages easy to manage</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>Friendly, approachable sans serif. But still serious enough for the news. Klim’s <strong>National</strong> struck precisely the right balance. Wanted to pair it with a chunky, bold serif. Something that could hold its own against our fat sans serif. We actually tried to avoid.</p>
				</div>
			</div>
		</div>

		{# <div class="thr__l--wide thr__pad--top-left">
			
				<div class="thr__special-report thr-xray-item thr-xray-item--center">
					
					<div class="thr__tag">
						<h4 class="thr__tag-h">Special Report Page</h4>
						<div class="thr__tag-icon">
							<div class="thr__scale-svg-container thr__svg-pad--badge-icon">
								<div class="thr__scale-svg">
									<svg class="thr__icon--badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"></path></svg>
								</div>
							</div>
						</div>
					</div>

					<div class="thr-popup">
						<div class="thr-popup-content">
							<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/mountains.svg"></div>
							<div class="thr-popup-text">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</div>
						</div>
					</div>
					<div class="thr__tablet thr__tablet--shadow">
						<div class="thr__tablet-camera"></div>
						<div class="thr__tablet-screen">
							<div class="thr__screen-pad">
								<div class="thr__screen-content">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg" media="(min-width: 1000px)">
										<source srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(1000)}}" media="(min-width: 600px)">
										<!--[if IE 9]></video><![endif]-->
										<img class="thr__img" srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(600)}}">
									</picture>
								</div>
							</div>
						</div>
						<div class="thr__tablet-home"></div>
					</div>
				</div>
			</div> #}
	</div>

	<div class="site-width thr__pad--horiz-med">
		<div class="txt-width txt-width--thr">
			<div class="thr__text-mod--center">
				<h4 class="thr__topic-h thr__topic-h--bdr">Content Management</h4>
				<h3 class="thr__h thr__h--med">Finally, a Drag &amp; Drop Interface 
to Manage Complex Pages</h3>
			</div>
			<div class="txt-lg portfolio-desc-txt thr__text">
				<p>Final brand guideline book. Our palms got a sweaty and our hearts raced at the thought of the classic pale blue exam booklet. But once we got over that, we saw something inspiring in the</p>
			</div>
		</div>
		
		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110"><path d="M84.6 35.5v11.4H64.4V26h11.9L56.6.9 36.9 26h11.2v20.9H25.5V36L0 53.7l25.5 20.1V62.9h22.6v21.3h-12l19.8 24.9 19.7-24.9H64.4V62.9h20.2v10.9L110 55.7"/><path fill-rule="evenodd" clip-rule="evenodd" d="M178.6-68.9s-13.8 14.2-20.4 19.6c-3.9-8 2.5-20.6 2.5-20.6l-26-34s-8.5 3.9-12.7 2.2c10.4-11.1 21.2-21.9 32.3-32.3 1.6 4.1-2.2 12.4-2.2 12.4l33.8 26.2s12.7-6.5 20.9-2.5c-5.4 6.5-19.6 20.2-19.6 20.2s30.7 34.8 44.7 53.5c.4.3 0 .1-.3 0-18.3-14.3-53-44.7-53-44.7zM364.8-130.8c-3.5 3.5-8.2 5.5-13.2 5.5s-9.7-1.9-13.2-5.5c-3.5-3.5-5.5-8.2-5.5-13.2s1.9-9.7 5.5-13.2c3.5-3.5 8.2-5.5 13.2-5.5s9.7 1.9 13.2 5.5c3.5 3.5 5.5 8.2 5.5 13.2s-1.9 9.7-5.5 13.2m-13.2-39.4c-8 0-15.5 3.6-20.6 9.9-7.6 9.4-7.4 23.6.3 33 5 6.1 12.4 9.5 20.2 9.5 4.9 0 9.8-1.4 14-4.1l.4-.3 17.8 17.9c1.9 2 5.5 2 7.4 0 1.1-1.1 1.6-2.4 1.6-3.8s-.5-2.7-1.5-3.8l-17.9-17.9.3-.4c6.5-10.4 4.9-23.7-3.7-32.4-4.6-4.9-11.2-7.6-18.3-7.6"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Click and Drag Organization</h4>
			</div>
			<div class="thr__stream">
				<div class="thr__video_stream_click_drag">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-stream-cover--click-drag.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
				<div class="thr__video-progress-bar"></div>
			</div>
		</div>

		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon thr__stream-icon--pin">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110"><path d="M351.1 21v11.4h-20.2V11.5h11.9l-19.7-25.1-19.7 25.1h11.2v20.9H292V21.5l-25.5 17.7L292 59.3V48.4h22.6v21.3h-12l19.8 24.9 19.7-24.9h-11.2V48.4h20.2v10.9l25.4-18.1"/><path fill-rule="evenodd" clip-rule="evenodd" d="M59.9 52.6s16.2.2 23.1-.5c-2.4-6.9-13.3-10.4-13.3-10.4L65 7s7.1-2.7 8.6-6C61.2.6 48.8.6 36.4 1c1.5 3.3 8.4 5.9 8.4 5.9l-4.3 34.6S29.4 45.1 27 52.1c6.9.6 23 .3 23 .3s2.4 37.8 5.1 56.7c0 .4 0 .1.2-.2 2.1-18.7 4.6-56.3 4.6-56.3zM307.5 127.1c-5.6 5.6-13.2 8.8-21.1 8.8-8 0-15.5-3.1-21.1-8.8-5.6-5.6-8.8-13.2-8.8-21.1 0-8 3.1-15.5 8.8-21.1 5.6-5.6 13.2-8.8 21.1-8.8 8 0 15.5 3.1 21.1 8.8 5.6 5.6 8.8 13.2 8.8 21.1s-3.2 15.5-8.8 21.1M286.3 64c-12.9 0-24.9 5.8-32.9 15.8-12.1 15.1-11.9 37.8.5 52.8 8 9.7 19.9 15.2 32.4 15.2 7.9 0 15.7-2.3 22.5-6.5l.7-.5 28.5 28.7c3.1 3.2 8.8 3.2 11.9 0 1.7-1.7 2.6-3.8 2.6-6.1s-.8-4.3-2.4-6l-28.6-28.6.5-.7c10.4-16.7 7.9-37.9-5.9-51.9-7.9-7.9-18.5-12.2-29.8-12.2"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Pin Important Posts</h4>
			</div>
			<div class="thr__stream">
				<div class="thr__video_stream_pin">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
				<div class="thr__video-progress-bar"></div>
			</div>
		</div>

		<div class="thr__js--video-toggle thr__video-stream">
			<div class="thr__stream-icon">
				<div class="thr__scale-svg-container thr__svg-pad--stream">
						<div class="thr__scale-svg">
							<svg class="thr__icon--stream" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 110"><path d="M351.1 21v11.4h-20.2V11.5h11.9l-19.7-25.1-19.7 25.1h11.2v20.9H292V21.5l-25.5 17.7L292 59.3V48.4h22.6v21.3h-12l19.8 24.9 19.7-24.9h-11.2V48.4h20.2v10.9l25.4-18.1"/><path fill-rule="evenodd" clip-rule="evenodd" d="M178.6-68.9s-13.8 14.2-20.4 19.6c-3.9-8 2.5-20.6 2.5-20.6l-26-34s-8.5 3.9-12.7 2.2c10.4-11.1 21.2-21.9 32.3-32.3 1.6 4.1-2.2 12.4-2.2 12.4l33.8 26.2s12.7-6.5 20.9-2.5c-5.4 6.5-19.6 20.2-19.6 20.2s30.7 34.8 44.7 53.5c.4.3 0 .1-.3 0-18.3-14.3-53-44.7-53-44.7zM64 64.1c-5.6 5.6-13.2 8.8-21.1 8.8-8 0-15.5-3.1-21.1-8.8C16.2 58.5 13 50.9 13 43c0-8 3.1-15.5 8.8-21.1 5.6-5.6 13.2-8.8 21.1-8.8 8 0 15.5 3.1 21.1 8.8 5.6 5.6 8.8 13.2 8.8 21.1S69.6 58.5 64 64.1M42.8 1C30 1 18 6.7 9.9 16.8c-12.1 15.1-11.8 37.8.5 52.8 8 9.7 19.9 15.2 32.4 15.2 7.9 0 15.7-2.3 22.5-6.5l.7-.5 28.5 28.7c3.1 3.2 8.8 3.2 11.9 0 1.7-1.7 2.6-3.8 2.6-6.1s-.8-4.3-2.4-6L78 65.9l.5-.7c10.4-16.7 7.9-37.9-5.9-51.9C64.7 5.3 54.1 1 42.8 1"/></svg>
						</div>
					</div>
			</div>
			<div class="thr__text-mod--center">
				<h4 class="thr__h thr__h--sm">Search for a Post</h4>
			</div>
			<div class="thr__stream">
				<div class="thr__video_stream_search">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
				</div>
			</div>
			<div class="thr__video-progress">
					<div class="thr__video-progress-bar"></div>
				</div>
		</div>

	</div>

</div>