<div class="site-width thr__pad--bottom-med thr__js--scroll-item">
	<div id="thr__part-one" class="badge-a">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">1</h1>
				</div>
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<h1 class="thr__h thr__h--lg">Site Design</h1>
	<h2 class="thr__sub-h">Making a brand statement on the homepage</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p>While Hechinger had established itself with influential, award-winning stories, it lacked name recognition. There’s a saying in journalism, “Show don’t tell.” With Hechinger trying to cement itself as primary destination for education news, we wanted readers to quickly sense who Hechinger is and what they care about.</p>
			<p>For starters, Hechinger is a magazine. They publish a select number of thoughtful pieces about the most important issues (Common Core, computers in the classroom), and places (New Orleans, Mississippi) in American education. Every few days, they produce a long, strong, original cover story.</p>
			<p>To make things more challenging, Hechinger can’t count on strong photos to carry their vivid, human-centered stories. But what they lack in photography, they make up for in reporting prowess. Their stories are deeply researched, chock full of shocking, context-setting numbers that grab you by the shirt and make you want to read. We wanted the homepage to have the same effect.</p>
		</div>
	</div>
</div>

{% include 'views/custom/the-hechinger-report-xray-module.twig' %}

<div class="full-width">

	<div class="thr__bite-in thr__text-mod--center">
	<div class="site-width">
		<div class="portfolio-desc txt-width txt-width--thr">
			<h4 class="thr__topic-h thr__topic-h--bdr thr__topic-h--white">Photography</h4>
			<h3 class="thr__h thr__h--med thr__h--white">Balancing Style with Substance</h3>
			<div class="txt-lg portfolio-desc-txt thr__text thr__text--white">
				<p>While Hechinger can’t always rely on great photos, images are important to the editors and the audience. Throughout the process, we repeated the phrase, "Policy is boring. Kids are interesting." That’s why the site is peppered with photos that take us inside the&nbsp;classroom.</p>
				<p>Many of those photos are iPhone shots snapped by the story’s author. Our tasteful presentation makes each image look good no matter what. And when Hechinger has great photography (they hire freelancers for their biggest features), they still have the option to go&nbsp;big.</p>
				</div>
			</div>
		</div>

		<div class="thr__divider">
			<div class="thr__scale-svg-container thr__svg-pad--badge-icon">
				<div class="thr__scale-svg">
					<svg class="thr__icon--badge thr__icon--badge--white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"/></svg>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="full-width thr__l--hidden">
	<div class="thr__l thr__l--wide thr__pad--article">

		<picture>
			<!--[if IE 9]><video style="display: none;"><![endif]-->
			<source srcset="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-grid.jpg" media="(min-width: 1000px)">
			<source srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-grid.jpg'| resize(1000)}}" media="(min-width: 600px)">
			<!--[if IE 9]></video><![endif]-->
			<img class="thr__img" srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-grid.jpg'| resize(600)}}">
		</picture>

		<div class="thr__tablets thr__js--scroll-item">

			<div class="thr__offset thr__offset--bottom thr__offset--left thr__offset--tablet-lg">
				<div class="thr__tablet">
					<div class="thr__tablet-camera"></div>
					<div class="thr__tablet-screen">
						<div class="thr__screen-pad">
							<div class="thr__screen-content">
								<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-tablet.jpg" media="(min-width: 1000px)">
									<source srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-tablet.jpg'| resize(1000)}}" media="(min-width: 600px)">
									<!--[if IE 9]></video><![endif]-->
									<img class="thr__img" srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-article-tablet.jpg'| resize(600)}}">
								</picture>
							</div>
						</div>
					</div>
					<div class="thr__tablet-home"></div>
				</div>
			</div>

			<div class="thr__offset thr__offset--bottom thr__offset--right thr__offset--tablet-med">
				<div class="thr__tablet thr__tablet--shadow">
					<div class="thr__tablet-camera"></div>
					<div class="thr__tablet-screen">
						<div class="thr__screen-pad">
							<div class="thr__screen-content">
								<div class="swiper-container thr__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-topper-common-core-1025.jpg"></div>
										<div class="swiper-slide"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-topper-blended-learning-1025.jpg"></div>
										<div class="swiper-slide"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-topper-higher-education-1025.jpg"></div>
										<div class="swiper-slide"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-topper-california-1025.jpg"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="thr__tablet-home"></div>
				</div>
			</div>

		</div><!-- /thr__js--scroll-item  -->

	</div>
</div>

<div class="full-width">
	<div class="thr__bg thr__bg--blue thr__pad--horiz">
		<div class="site-width">
			<div class="thr__quote-box"><p class="thr__quote-text">&ldquo;There is something fearless about the personality of this site. The impactful use of type and the striking yellow create an experience that is branded and distinct without sacrificing on readability and scannability of the articles.&rdquo;</p>
			<div class="thr__quote-by-line txt-lg">
				<p>From <a href="http://www.intersect.cc/post/114342096146/the-hechinger-report-there-is-something-fearless" target="_blank"><strong>‘The Intersect’</strong></a><br>March 20, 2015</p>
			</div>
			</div>
		</div>
	</div>
</div>
