<li class="project-list__item" style="background-image: url({{item.img}});"><a class="media-block" id="item-{{item.slug}}" href="{{item.path}}">
	<img class="project-list__img" src="{{item.thumbnail.src|resize(110, 110)}}">
	<h4 class="txt">{{item.client_name}}</h4>
	<h3 class="project-list__h">{{item.title}}</h3>	
</a></li>