<li class="project-list--item" style="background-image: url({{tile.img}});"><a class="media-block" id="tile-{{tile.slug}}" href="{{tile.path}}">
	<img class="project-list--img" src="{{tile.thumbnail.src|resize(110, 110)}}">
	<h4 class="txt">{{tile.client_name}}</h4>
	<h3 class="project-listH">{{tile.title}}</h3>	
</a></li>